.bee-logo {
  background-image: url(https://generation-sessions.s3.amazonaws.com/48796276b7b58aa5cb2ae3f1f2a6a92c/img/bee-logo-1-7@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  width: 32px;
}
